<section class="container mt-5">
  <h1>Email {{ categoryName }}</h1>
  <div class="p-2">
    <form method="post" role="form" (ngSubmit)="send()">
      <div class="row row-cols-1 g-3">
        <div class="col email-group">
          <label class="form-label" for="contacts">To</label>
          <p-multiSelect
            class="col"
            [display]="selectedContacts.length > 3 ? 'comma' : 'chip'"
            [(ngModel)]="selectedContacts"
            [ngModelOptions]="{ standalone: true }"
            [options]="allContacts"
            optionValue="id"
            optionLabel="tag"
            placeholder="Select Contact(s)"
            id="contacts"
            name="contacts"
          >
            <ng-template let-value pTemplate="item">
              <div class="flex align-items-center">{{ value?.tag }}</div>
            </ng-template>
          </p-multiSelect>
        </div>
        <div class="col email-group">
          <label class="form-label" for="subject">Subject</label>
          <input
            type="text"
            pInputText
            class="form-control"
            id="subject"
            name="subject"
            [(ngModel)]="subject"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="col email-group">
          <label class="form-label" for="message">Message</label>
          <textarea
            rows="12"
            cols="80"
            pInputTextarea
            id="message"
            name="message"
            [(ngModel)]="message"
            [ngModelOptions]="{ standalone: true }"
          ></textarea>
        </div>
        <div class="col text-end">
          <button class="btn btn-light rounded-pill btnlinks me-2" type="button" (click)="handleCancel()">Cancel</button>
          <button class="btn btn-primary rounded-pill btnlinks" type="submit" [disabled]="!isValidEmail()">Send</button>
        </div>
      </div>
    </form>
  </div>
</section>
