<footer class="footer container-fluid">
    <div class="row align-items-center py-2">
        <div class="col">
            <div class="row align-items-center gy-2">
                <div
                    class="col d-flex justify-content-center justify-content-md-start order-last order-md-first copyright">
                    &copy; {{currentYear}} WebDevHod All Rights Reserved</div>
                <div class="col d-flex justify-content-center">
                    <a routerLink="/"><img src="content/img/ContactPro.png" height="50"></a>
                </div>
                <div class="col-12 col-md d-flex justify-content-center justify-content-md-end">
                    <a href="https://www.linkedin.com/in/daniel-ho-6305193b/" class="socialicons" target="_blank"><i
                            class="bi bi-linkedin p-2 "></i></a>
                    <a href="https://github.com/webdevhod/AngularContactPro" class="socialicons" target="_blank"><i
                            class="bi bi-github p-2 "></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>