<footer class="footer container-fluid">
  <div class="row align-items-center py-2">
      <div class="col">
          <div class="row align-items-center gy-2">
              <div class="col d-flex justify-content-center justify-content-md-start order-last order-md-first copyright">
                  &copy; 2022 Dane Whitman All Rights Reserved</div>
              <div class="col d-flex justify-content-center">
                  <img src="img/ContactPro.png" height="50">
              </div>
              <div class="col-12 col-md d-flex justify-content-center justify-content-md-end">
                  <a href="#" class="socialicons"><i class="bi bi-linkedin p-2 "></i></a>
                  <a href="#" class="socialicons"><i class="bi bi-twitter p-2"></i></a>
                  <a href="#" class="socialicons"><i class="bi bi-youtube p-2"></i></a>
                  <a href="#" class="socialicons"><i class="bi bi-instagram p-2 "></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>