<!-- <div class="container">
    <h2 id="page-heading" data-cy="ContactHeading">
        <span>Contacts</span>

        <div class="d-flex justify-content-end">
            <button
                class="btn btn-info me-2"
                (click)="loadAll()"
                [disabled]="isLoading"
            >
                <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                <span>Refresh List</span>
            </button>

            <button
                id="jh-create-entity"
                data-cy="entityCreateButton"
                class="btn btn-primary jh-create-entity create-contact"
                [routerLink]="['/contact/new']"
            >
                <fa-icon icon="plus"></fa-icon>
                <span> Create a new Contact </span>
            </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div
        class="alert alert-warning"
        id="no-result"
        *ngIf="contacts?.length === 0"
    >
        <span>No contacts found</span>
    </div>

    <div
        class="table-responsive"
        id="entities"
        *ngIf="contacts && contacts.length > 0"
    >
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col"><span>ID</span></th>
                    <th scope="col"><span>First Name</span></th>
                    <th scope="col"><span>Last Name</span></th>
                    <th scope="col"><span>Address 1</span></th>
                    <th scope="col"><span>Address 2</span></th>
                    <th scope="col"><span>City</span></th>
                    <th scope="col"><span>State</span></th>
                    <th scope="col"><span>Zip Code</span></th>
                    <th scope="col"><span>Email</span></th>
                    <th scope="col"><span>Phone Number</span></th>
                    <th scope="col"><span>Birth Date</span></th>
                    <th scope="col"><span>Created</span></th>
                    <th scope="col"><span>Image Data</span></th>
                    <th scope="col"><span>Image Type</span></th>
                    <th scope="col"><span>User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let contact of contacts; trackBy: trackId"
                    data-cy="entityTable"
                >
                    <td>
                        <a [routerLink]="['/contact', contact.id, 'view']">{{
                            contact.id
                        }}</a>
                    </td>
                    <td>{{ contact.firstName }}</td>
                    <td>{{ contact.lastName }}</td>
                    <td>{{ contact.address1 }}</td>
                    <td>{{ contact.address2 }}</td>
                    <td>{{ contact.city }}</td>
                    <td>{{ contact.state }}</td>
                    <td>{{ contact.zipCode }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>{{ contact.birthDate | formatMediumDate }}</td>
                    <td>{{ contact.created | formatMediumDate }}</td>
                    <td>
                        <a
                            *ngIf="contact.imageData"
                            (click)="
                                openFile(
                                    contact.imageData,
                                    contact.imageDataContentType
                                )
                            "
                        >
                            <img
                                [src]="
                                    'data:' +
                                    contact.imageDataContentType +
                                    ';base64,' +
                                    contact.imageData
                                "
                                style="max-height: 30px"
                                alt="contact image"
                            />
                        </a>
                        <span *ngIf="contact.imageData"
                            >{{ contact.imageDataContentType }},
                            {{ byteSize(contact.imageData) }}</span
                        >
                    </td>
                    <td>{{ contact.imageType }}</td>
                    <td>
                        {{ contact.user?.login }}
                    </td>
                    <td class="text-end">
                        <div class="btn-group">
                            <button
                                type="submit"
                                [routerLink]="['/contact', contact.id, 'view']"
                                class="btn btn-info btn-sm"
                                data-cy="entityDetailsButton"
                            >
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button
                                type="submit"
                                [routerLink]="['/contact', contact.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                data-cy="entityEditButton"
                            >
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button
                                type="submit"
                                (click)="delete(contact)"
                                class="btn btn-danger btn-sm"
                                data-cy="entityDeleteButton"
                            >
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<section class="container mt-5">
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <div class="row">
    <div class="col-12 text-end mb-3">
      <a class="btn btn-primary rounded-pill" routerLink="new">Create New</a>
    </div>
  </div>
  <div class="row g-2">
    <div class="col-12 col-md-4 px-3 sideNav">
      <form>
        <div class="input-group">
          <label class="form-label fw-bold">SEARCH NAMES</label>
          <span class="p-input-icon-right">
            <input
              type="search"
              pInputText
              class="form-control w-100"
              [(ngModel)]="searchTerm"
              [ngModelOptions]="{ standalone: true }"
              type="search"
              placeholder="Search by Name"
            />
            <i class="pi pi-search" (click)="handleSearch()" (keydown.enter)="handleSearch()"></i>
          </span>
        </div>
      </form>
      <form>
        <div class="mt-5 d-flex flex-column">
          <label class="form-label fw-bold">CATEGORY FILTER</label>
          <p-dropdown
            [options]="allCategories"
            [(ngModel)]="selectedCategory"
            optionLabel="name"
            [showClear]="true"
            placeholder="Filter by Category"
            [ngModelOptions]="{ standalone: true }"
            (onChange)="handleDropdownChange()"
          ></p-dropdown>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-8">
      <div class="row row-cols-1 g-3">
        <div class="col" *ngFor="let contact of contacts">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 square-img-container">
                <img [src]="getImageSrc(contact)" class="square-img rounded-start" [alt]="contact.fullName" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ contact.firstName }}
                    {{ contact.lastName }}
                  </h5>
                  <address class="card-text">
                    {{ contact.address1 }}<br />
                    {{ contact.address2 }}<br *ngIf="contact.address2" />
                    {{ contact.city }},
                    {{ contact.state }}
                    {{ contact.zipCode }}
                  </address>
                  <div class="card-text"><span class="fw-bold me-2">Phone:</span>{{ contact.phoneNumber }}</div>
                  <div class="card-text"><span class="fw-bold me-2">Email:</span>{{ contact.email }}</div>
                  <div class="fs-4 d-flex gap-1 contact-mt">
                    <a class="me-3 editIcons" routerLink="{{ contact.id }}/email"><i class="bi bi-envelope-fill"></i></a>
                    <a class="me-3 editIcons" routerLink="{{ contact.id }}/edit"><i class="bi bi-pencil-fill"></i></a>
                    <a class="me-3 editIcons" (click)="delete(contact)"><i class="bi bi-trash-fill text-danger"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
