<section class="container">
    <h1>EDIT CONTACT</h1>
    <div class="p-3 border border-2 shadow-lg bg-light">
        <form
            name="editForm"
            role="form"
            novalidate
            (ngSubmit)="save()"
            [formGroup]="editForm"
        >
            <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
                <label class="form-label" for="field_id">ID</label>
                <input
                    type="number"
                    class="form-control"
                    name="id"
                    id="field_id"
                    data-cy="id"
                    formControlName="id"
                    [readonly]="true"
                />
            </div>
            <div class="row g-3 p-2">
                <div class="col-12 col-lg-4">
                    <div class="square-img-container">
                        <img class="square-img" src="/img/ClaudiaBlack.png" />
                    </div>
                    <div>
                        <label
                            asp-for="ImageFile"
                            class="control-label"
                        ></label>
                        <input
                            type="file"
                            class="form-control"
                            accept=".png,.jpg,.jpeg,.gif"
                        />
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label for="field_firstName" class="form-label"
                                >First Name</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                name="firstName"
                                id="field_firstName"
                                data-cy="firstName"
                                formControlName="firstName"
                            />
                            <div
                                *ngIf="
                                    editForm.get('firstName')!.invalid &&
                                    (editForm.get('firstName')!.dirty ||
                                        editForm.get('firstName')!.touched)
                                "
                            >
                                <small
                                    class="form-text text-danger"
                                    *ngIf="
                                        editForm.get('firstName')?.errors
                                            ?.required
                                    "
                                >
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="field_lastName" class="form-label"
                                >Last Name</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                name="lastName"
                                id="field_lastName"
                                data-cy="lastName"
                                formControlName="lastName"
                            />
                            <div
                                *ngIf="
                                    editForm.get('lastName')!.invalid &&
                                    (editForm.get('lastName')!.dirty ||
                                        editForm.get('lastName')!.touched)
                                "
                            >
                                <small
                                    class="form-text text-danger"
                                    *ngIf="
                                        editForm.get('lastName')?.errors
                                            ?.required
                                    "
                                >
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mt-2">
                            <label for="inputEmail" class="form-label"
                                >Email</label
                            >
                            <input
                                type="email"
                                class="form-control"
                                id="inputEmail"
                                value="bbrant@dailybugle.net"
                            />
                        </div>
                        <div class="col-12 col-lg-6 mt-2">
                            <label for="inputPhone" class="form-label"
                                >Phone</label
                            >
                            <input
                                type="tel"
                                class="form-control"
                                id="inputPhone"
                                value="212-555-8513"
                            />
                        </div>
                        <div class="col-12 mt-2">
                            <label for="inputAddress" class="form-label"
                                >Address</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="inputAddress"
                                value="405 East 14th street"
                            />
                        </div>
                        <div class="col-12 mt-2">
                            <label for="inputAddress2" class="form-label"
                                >Address 2</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="inputAddress2"
                                value="Apt 05-C"
                            />
                        </div>
                        <div class="col-12 col-lg-6 mt-2">
                            <label for="inputCity" class="form-label"
                                >City</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="inputCity"
                                value="New York"
                            />
                        </div>
                        <div class="col-12 col-lg-4 mt-2">
                            <label for="inputState" class="form-label"
                                >State</label
                            >
                            <select id="inputState" class="form-select">
                                <option selected>Choose...</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY" selected>New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-2 mt-2">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input
                                type="text"
                                class="form-control"
                                id="inputZip"
                                value="10009"
                            />
                        </div>
                        <div class="col-12 col-lg-6 mt-3">
                            <label asp-for="CategoryList" class="control-label"
                                >Categories</label
                            >
                            <select
                                class="form-select"
                                multiple
                                aria-label="multiple select example"
                            >
                                <option selected>Friends</option>
                                <option value="1">Family</option>
                                <option value="2">Wedding</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-6 mt-3">
                            <label for="birthdate" class="control-label"
                                >Birth Date</label
                            >
                            <input
                                id="birthdate"
                                type="date"
                                class="form-control"
                                value="1995-03-12"
                            />
                        </div>
                        <div class="col-12 d-flex justify-content-end mt-2">
                            <button
                                type="submit"
                                class="btn btn-lg btn-primary rounded-pill"
                            >
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- <div class="d-flex justify-content-center">
  <div class="col-8">
    <form
      name="editForm"
      role="form"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="editForm"
    >
      <h2 id="jhi-contact-heading" data-cy="ContactCreateUpdateHeading">
        Create or edit a Contact
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input
            type="number"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            id="field_firstName"
            data-cy="firstName"
            formControlName="firstName"
          />
          <div
            *ngIf="
              editForm.get('firstName')!.invalid &&
              (editForm.get('firstName')!.dirty ||
                editForm.get('firstName')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstName')?.errors?.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            id="field_lastName"
            data-cy="lastName"
            formControlName="lastName"
          />
          <div
            *ngIf="
              editForm.get('lastName')!.invalid &&
              (editForm.get('lastName')!.dirty ||
                editForm.get('lastName')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastName')?.errors?.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_address1">Address 1</label>
          <input
            type="text"
            class="form-control"
            name="address1"
            id="field_address1"
            data-cy="address1"
            formControlName="address1"
          />
          <div
            *ngIf="
              editForm.get('address1')!.invalid &&
              (editForm.get('address1')!.dirty ||
                editForm.get('address1')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('address1')?.errors?.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_address2">Address 2</label>
          <input
            type="text"
            class="form-control"
            name="address2"
            id="field_address2"
            data-cy="address2"
            formControlName="address2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_city">City</label>
          <input
            type="text"
            class="form-control"
            name="city"
            id="field_city"
            data-cy="city"
            formControlName="city"
          />
          <div
            *ngIf="
              editForm.get('city')!.invalid &&
              (editForm.get('city')!.dirty || editForm.get('city')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('city')?.errors?.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_state">State</label>
          <select
            class="form-control"
            name="state"
            formControlName="state"
            id="field_state"
            data-cy="state"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let states of statesValues" [value]="states">
              states
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('state')!.invalid &&
              (editForm.get('state')!.dirty || editForm.get('state')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('state')?.errors?.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_zipCode">Zip Code</label>
          <input
            type="text"
            class="form-control"
            name="zipCode"
            id="field_zipCode"
            data-cy="zipCode"
            formControlName="zipCode"
          />
          <div
            *ngIf="
              editForm.get('zipCode')!.invalid &&
              (editForm.get('zipCode')!.dirty ||
                editForm.get('zipCode')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('zipCode')?.errors?.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_email">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            id="field_email"
            data-cy="email"
            formControlName="email"
          />
          <div
            *ngIf="
              editForm.get('email')!.invalid &&
              (editForm.get('email')!.dirty || editForm.get('email')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('email')?.errors?.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
          <div
            *ngIf="
              editForm.get('phoneNumber')!.invalid &&
              (editForm.get('phoneNumber')!.dirty ||
                editForm.get('phoneNumber')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('phoneNumber')?.errors?.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_birthDate">Birth Date</label>
          <div class="input-group">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="text"
              class="form-control"
              name="birthDate"
              ngbDatepicker
              #birthDateDp="ngbDatepicker"
              formControlName="birthDate"
            />
            <button
              type="button"
              class="btn btn-secondary"
              (click)="birthDateDp.toggle()"
            >
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_created">Created</label>
          <div class="input-group">
            <input
              id="field_created"
              data-cy="created"
              type="text"
              class="form-control"
              name="created"
              ngbDatepicker
              #createdDp="ngbDatepicker"
              formControlName="created"
            />
            <button
              type="button"
              class="btn btn-secondary"
              (click)="createdDp.toggle()"
            >
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_imageData">Image Data</label>
          <div>
            <img
              [src]="
                'data:' +
                editForm.get('imageDataContentType')!.value +
                ';base64,' +
                editForm.get('imageData')!.value
              "
              style="max-height: 100px"
              *ngIf="editForm.get('imageData')!.value"
              alt="contact image"
            />
            <div
              *ngIf="editForm.get('imageData')!.value"
              class="form-text text-danger clearfix"
            >
              <span class="pull-start"
                >{{ editForm.get("imageDataContentType")!.value }},
                {{ byteSize(editForm.get("imageData")!.value) }}</span
              >
              <button
                type="button"
                (click)="
                  clearInputImage(
                    'imageData',
                    'imageDataContentType',
                    'file_imageData'
                  )
                "
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_imageData"
              data-cy="imageData"
              (change)="setFileData($event, 'imageData', true)"
              accept="image/*"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="imageData"
            id="field_imageData"
            data-cy="imageData"
            formControlName="imageData"
          />
          <input
            type="hidden"
            class="form-control"
            name="imageDataContentType"
            id="field_imageDataContentType"
            formControlName="imageDataContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_imageType">Image Type</label>
          <input
            type="text"
            class="form-control"
            name="imageType"
            id="field_imageType"
            data-cy="imageType"
            formControlName="imageType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_user">User</label>
          <select
            class="form-control"
            id="field_user"
            data-cy="user"
            name="user"
            formControlName="user"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                userOption.id === editForm.get('user')!.value?.id
                  ? editForm.get('user')!.value
                  : userOption
              "
              *ngFor="
                let userOption of usersSharedCollection;
                trackBy: trackUserById
              "
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div> -->
