:host {
  ::ng-deep {
    .content {
      padding-top: 4.5rem;
      padding-bottom: 9.5rem;
      position: relative;

      &:not(:has(> * .contact-3)) {
        height: 100%;
      }

      jhi-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}
