<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contact">
      <h2 data-cy="contactDetailsHeading"><span>Contact</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ contact.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ contact.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ contact.lastName }}</span>
        </dd>
        <dt><span>Address 1</span></dt>
        <dd>
          <span>{{ contact.address1 }}</span>
        </dd>
        <dt><span>Address 2</span></dt>
        <dd>
          <span>{{ contact.address2 }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ contact.city }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ contact.state }}</span>
        </dd>
        <dt><span>Zip Code</span></dt>
        <dd>
          <span>{{ contact.zipCode }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ contact.email }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ contact.phoneNumber }}</span>
        </dd>
        <dt><span>Birth Date</span></dt>
        <dd>
          <span>{{ contact.birthDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Created</span></dt>
        <dd>
          <span>{{ contact.created | formatMediumDate }}</span>
        </dd>
        <dt><span>Image Data</span></dt>
        <dd>
          <div *ngIf="contact.imageData">
            <a
              (click)="
                openFile(contact.imageData, contact.imageDataContentType)
              "
            >
              <img
                [src]="
                  'data:' +
                  contact.imageDataContentType +
                  ';base64,' +
                  contact.imageData
                "
                style="max-width: 100%"
                alt="contact image"
              />
            </a>
            {{ contact.imageDataContentType }},
            {{ byteSize(contact.imageData) }}
          </div>
        </dd>
        <dt><span>Image Type</span></dt>
        <dd>
          <span>{{ contact.imageType }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ contact.user?.login }}</span>
        </dd>
      </dl>

      <button
        type="submit"
        (click)="previousState()"
        class="btn btn-info"
        data-cy="entityDetailsBackButton"
      >
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/contact', contact.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
